body {
    font-family: 'Merriweather', serif;
    font-size: 25px;
}


.header {
    background-color: #FFFFFF;
    img {
        height: 150px;
        width: 200px;
        display: block;
        margin: auto;
    }
    h1 {
        font-size: 40px;
        color: #F9B214;  
        text-align: center;
    }
}

.new-todo {
    width: 100%;
}

.items {
    padding-left:0px;
    width: 100%;
    list-style: none;
    li {
        width:100%;
        display:block;
        height:2em;
    }
    p {
        display: inline;
    }
}

.check {
    img {
        height: 20px;
        width: 20px;
    }                   /* want image to not show, but show on hover and click */
}

.delete {
    float: right;
    color: #F98414;
    &:hover {
        background-color: #F9D714;
    }
}

.completed p {
    text-decoration: line-through;
}

.footer {
    .remaining {
        position: absolute;
        left: 1em;
    }
    li {
        display: inline-block;
        float: right;
    }
}