h2 {
    color: #164399;
    i {
        color: #509236;
    }
}

.tableRow{
    &:hover {                       /* For concatenating selectors together when nesting, you need to use the parent selector (&): */
    background-color: #509236;
    color: white;
    }
}